.movie-showing {
  color: white;
  padding: 0 1rem;
}

.movie-showing__control {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.movie-showing label {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0.5rem;
  margin-left: 4.0rem;
}

.movie-showing select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}