.movie-showing {
  color: white;
  padding: 0 1rem;
}

.movie-showing__control {
  display: flex;
  width: 90%;
  line-height: 0%;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem 0;
  
}

.movie-showing label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0.5rem;
  margin-left: 6.0rem ;
}

.movie-showing select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}